{% extends "mysite/base.html" %}
{% load static %}


{% block body %}

    <!-- Job Listing section -->
   <section class="section-hero overlay inner-page bg-image"
             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Job Listing</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Job Listing</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">{{ job_len }} Job Listed</h2>
                </div>
            </div>


<!-- For Post a Job -->
            {% for job_listing in job_listings %}
            <ul class="job-listings mb-5">
                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="{% url 'job_single' id=job_listing.id %}"></a>
                    <div class="job-listing-logo">
                        <img src="{% static 'mysite/images/job_logo_1.jpg' %}"
                             alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>{{ job_listing.title }}</h2>
                            <strong>{{ job_listing.company_name }}</strong>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> {{ job_listing.job_location}}
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-success">{{ job_listing.employment_status }}</span>
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-danger">{{ job_listing.salary }}</span>
                        </div>
                    </div>

                </li>

            </ul>
            {% endfor %}

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing {{ curr_page1 }}-{{ curr_page2 }} Of {{ job_len }} Jobs</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        {% if query.has_previous %}
                          <a  href="?page={{ query.previous_page_number }}" class="prev">Prev</a>
                        {% endif %}
                        <div class="d-inline-block">
                            Page <a href="#" class="active">{{ query.number }}</a> of  {{ query.paginator.num_pages }}
                        </div>
                        {% if query.has_next %}
                            <a href="?page={{ query.next_page_number }}" class="next">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>



{% endblock body %}
