{% extends "mysite/base.html" %}


{% load static %}

{% block body %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'mysite/images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Sign Up/Login</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Log In</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-6">
            <h2 class="mb-4">Log In To JobBoard</h2>
            <form method="post" class="p-4 border rounded">
                {% csrf_token %}

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="username">User Name</label>
                  <input type="text" id="username" name="username" class="form-control" placeholder="User Name">
                </div>
              </div>
              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Log In" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>

              <div>
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </section>
    
   {% endblock body %}