{% extends "mysite/base.html" %}


{% load static %}

{% block body %}
    <!-- HOME -->



    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Search Jobs</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Search Jobs</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">

        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">We have found <span class="accent">{{ all_job.count }}</span> Jobs</h2>


                </div>
            </div>

            {% for job in all_job %}

                <div class="mb-5">


             <ul class="job-listings mb-5">
                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="{% url 'job_single' id=job.id %}"></a>
                    <div class="job-listing-logo">
                        <img src="{% static 'mysite/images/job_logo_1.jpg' %}"
                             alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>{{ job.title }}</h2>
                            <strong>{{ job.company_name }}</strong>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> {{ job.job_location}}
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-success">{{ job.employment_status }}</span>
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-danger">{{ job.salary }}</span>
                        </div>
                    </div>

                </li>

            </ul>

            {% endfor %}
            </div>


        </div>


    </section>



{% endblock %}